/* nuppege_horizontal */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px;
gap: 8px;

width: 170px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
